@model List<UCSCursoWebEng.Models.PessoaModel>



@if (Model != null)
{
    <button type="button" onclick="window.location.replace('/Home/Detalhe');" class="btn btn-primary">Novo</button>

    <br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style='cursor: pointer' onclick="acessarPessoa('@item.Id')">
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Sobrenome</td>
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <h2>Não existem informações</h2>
}



<script>
    function acessarPessoa(id) {
        console.log("testeidifgs")
        window.location.replace('/Home/Detalhe?id=' + id)
    }
</script>